@page
@model FantasyPL.Pages.DeleteUserModel
@{
}
<div class="center form">
    <h3>Delete a User</h3>
    <form method="post">
        @if (Model.Message.Length > 0)
        {
            <div class='alert alert-warning alert-dimsmissiable fade show flexcontainer' role='alert'>
                <string>@Model.Message</string>
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        }
        <div class="txt_field">
            <label for="user" id="clublabel">Username</label>
            <select id="user" name="user" class="form-control">
                @foreach (var u in GlobalVar.listUser)
                {
                    <option value="@u.Username">@u.Username</option>
                }
            </select>
        </div>
        <input type="submit" value="Delete User" />
    </form>
</div>