@page
@model FantasyPL.Pages.ProfileModel
@{
}
<div class="center form">
    <form method="post">
        <h3>Update Password</h3>
        @if (Model.Message.Length > 0)
        {
            <div class='alert alert-warning alert-dimsmissiable fade show flexcontainer' role='alert'>
                <string>@Model.Message</string>
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        }
        <div class="txt_field">
            <input type="password" name='old' required/>
            <label>Enter your old password:</label>
        </div>
        <div class="txt_field">
            <input type="password" name='new1' required/>
            <label>Enter your new password:</label>
        </div>
        <div class="txt_field">
            <input type="password" name='new2' required/>
            <label>Enter your new password again:</label>
        </div>
        <input type="submit" value="Submit" />
        
        <div class="flexcontainer">
            @if (GlobalVar.LoggedInUser.UserType == 'A')
        {
            <a class="club_link" asp-area="" asp-page="/Register">Create Admin Account</a>
            <a class="club_link" asp-area="" asp-page="/DeleteUser">Delete User</a>
        }
            <a class="club_link" asp-area="" asp-page="/Index">Logout</a>
        </div>
    </form>
</div>